<!-- app/views/item_templates/list.html.erb -->

<h1>Howdy!</h1>

<% @list_of_items.each do |the_item| %>
  <div>
    <img src = "<%=the_item.thumbnail_url%>">

    <a href="<%=the_item.link_url%> ">
      <%=the_item.link_description%>
    </a>
  </div>
<% end %>
